* {
    padding: 0;
    margin: 0;
}


.section-1 {
    /* background-color: antiquewhite; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-width: 260px;
    margin-bottom: 100px;
}

.trapezoid-shadow {
    margin-top: -30px;
    position: absolute;
    z-index: -2;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    min-width: 260px;
    width: 100%;
    height: 50%;
}
.blue-trapezoid {
    /* padding: calc(100vw / 2); */
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    background-color: rgb(8, 144, 176);
}

.image-container {
    /* border: 1px solid; */
    margin: 30px;
    padding: 10px;
    min-height: 300px;
    min-width: 200px;
    background-image: url("images/Ashley\ Williams.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:flex-start;
    align-items: end;
    font-size: 3rem;
    color: black;
    box-shadow: 1px 1px 5px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.title-mobile {
    font-size: 2rem;
}
.title {
    font-size: 2rem;
}
.about-me > .description-mobile {
    line-height: 1.3rem;
    margin: 10px 25px;
}

.links {
    display: flex;
    width: 100%;
    justify-content: center;
}

.links > div {
    font-size: 2rem;
    margin: 0 10px;
    /* transform: scale(2); */
    /* width: 10px;
    height: 10px */
}

.description-tablet {
    display: none;
}

/* /////// */
/* .section-1, .section-1 > * {
    display: none;
} */
/* /////// */


    /* ///////// */
    /* Section-2 */
    /* ///////// */

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    /* border: thin solid; */
    margin: 10px;
    /* padding: 10px; */
    min-height: 400px;
    min-width: 200px;
    max-width: 300px;
    display: grid;
    grid-template-rows: 60% 40%;
    margin-bottom: 50px;
    /* height: 100px;
    width: 100px; */
    box-shadow: 3px 3px 10px rgb(207, 206, 206);
}

.project-1 > .screenshot {
    background-color: rgb(124,117,202);
}
.project-2 > .screenshot {
    background-color: rgb(216,143,57);
}
.project-3 > .screenshot {
    background-color: rgb(94,143,77);
}
.project-4 > .screenshot {
    background-color: rgb(202,117,153);
}
.project-5 > .screenshot {
    background-color: rgb(70,146,217);
}
.project-6 > .screenshot {
    background-color: rgb(94,143,77);
}

.screenshot {
    display: flex;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    /* min-width: 100%; */
}

.image-text {
    font-size: 2.4rem;
    color: white;
}

.project-description {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 25% 75%;
    justify-items: center;
    min-height: 160px;
    margin-top: 10px;
}

.icons {
    display: flex;
}

.icons > img {
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.icons > div {
    margin-right: 10px;
    /* padding-right: 10px; */
}

.project-description > .title-mobile {
    font-size: 1.5rem;
}
.project-description > .description {
    padding: 10px 20px;
}

/* /////// */
/* .section-2, .section-2 > * {
    display: none;
} */
/* /////// */

.section-3 {
    height: 100vh;
    min-width: 260px;
    padding: 20px;
    margin: -20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.contact {
    color: white;
    background-color: rgb(8, 144, 176);
}

.contact-left-tablet > * {
    margin: 20px;
}

.contact > img {
    display: none;
}

.working-image-mobile {
    background-image: url('images/ashley-williams-photo-u4.jpeg');
    background-size: cover;
    background-position: center;
}

@media (min-width: 600px) and (max-width: 1200px) {
    .image-container {
        display: none;
    }

    .title-mobile {
        display: none;
    }

    .about-me > .title-mobile {
        display: none;
    }

    .about-me > .description-mobile {
        display: none;
    }

    .links {
        display: none;
    }

    .description-tablet {
        display: block;
    }

    .section-1 {
        min-height: 60vh;
    }
    
    .about-me {
        padding-top: 50px;
        margin: 0 60px;
        position: relative;
    }

    .description-container {
        display: flex;
        flex-direction: row;
    }

    .description-tablet {
        height: 50vh;
        width: 500px;
    }

    .description-tablet > div {
        text-align: center;
    }

    .description-tablet > .name {
        line-height: 3rem;
        margin-bottom: 30px;
        font-size: 3rem;
    }
    
    .title-tablet {
        width: 500px;
        padding-top: 30px;
        margin-top: 50px;
        font-size: 2rem;
    }
    
    .description-tablet > .subdescription {
        background-color: white;
        width: 550px;
        padding: 50px 20px 30px 20px;
        box-shadow: 1px 0px 5px;
        text-align: left;
    }

    span.title-tablet {
        margin-left: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    
    .description-tablet > img {
        margin: 10px;
        margin-top: 100px;
        margin-left: 100px;
        width: 40%;
        object-fit: contain;
        float: left;
        transform: scale(2);
        transform-origin: 100% 100%;
        box-shadow: 1px 1px 2px;
    }

    /* ///////// */
    /* Section-2 */
    /* ///////// */

    /* .section-2 {
        display: block;
    } */

    .section-2 > .title {
        /* text-align: left; */
        /* align-self: flex-start; */
        margin-right: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        /* font-size: 2rem; */
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project {
        width: 40vw;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* ///////// */
    /* Section-3 */
    /* ///////// */

    .working-image-mobile {
        display: none;
    }

    .contact > img {
        display: block;
    }

    .working-image-tablet {
        height: 200px;
        width: 200px;
        justify-self: center;
        align-self: center;
        /* position: relative;
        left: 50%; */
        /* float: right; */
    }

    .contact {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    /* .section-3 {
        display: ;
    } */
}