* {
    padding: 0;
    margin: 0;
}


.section-1 {
    /* background-color: antiquewhite; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-width: 260px;
}

.trapezoid-shadow {
    margin-top: -30px;
    position: absolute;
    z-index: -2;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    min-width: 260px;
    width: 100%;
    height: 50%;
}
.blue-trapezoid {
    /* padding: calc(100vw / 2); */
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    background-color: rgb(8, 144, 176);
}

.image-container {
    /* border: 1px solid; */
    margin: 30px;
    padding: 10px;
    min-height: 300px;
    min-width: 200px;
    background-image: url("images/Ashley\ Williams.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:flex-start;
    align-items: end;
    font-size: 3rem;
    color: black;
    box-shadow: 1px 1px 5px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.title {
    font-size: 2rem;
}
.about-me > .description {
    line-height: 1.3rem;
    margin: 10px 25px;
}

.links {
    display: flex;
    width: 100%;
    justify-content: center;
}

.links > div {
    font-size: 2rem;
    margin: 0 10px;
    /* transform: scale(2); */
    /* width: 10px;
    height: 10px */
}


.section-1, .section-1 > * {
    display: none;
}

.project {
    border: thin solid;
    margin: 10px;
    /* padding: 10px; */
    min-height: 300px;
    min-width: 200px;
    max-width: 300px;
    display: grid;
    grid-template-rows: 60% 40%;
    /* height: 100px;
    width: 100px; */
}

.screenshot {
    border: thin solid;
}

.project-description {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 25% 75%;
    justify-items: center;
    min-height: 120px;
    margin-top: 10px;
}

.icons {
    display: flex;
}

.icons > div {
    margin-right: 10px;
}

.project-description > .title {
    font-size: 1.5rem;
}
.project-description > .description {
    padding: 10px 20px;
}